process {
    // Global error handling.
    // Do not forget to add your email address to the individual processes below to get notifications from slurm!
    errorStrategy = { 
        if (task.exitStatus in [125, 137, 143]) {
            // Out of memory or killed by scheduler -- retry with more resources
            return 'retry'
        } 
        else if (task.exitStatus in [104]) {
            // Transient network issue -- safe to retry
            return 'retry'
        } 
        else if (task.exitStatus in [140]) {
            // I don't know what this means, but let's retry
            return 'retry'
        } 
        else {
            // Otherwise stop the workflow
            return 'terminate'
        }
    }
    errorStrategy = 'retry'

    // Limit retries to 1 extra attempt (so max 2 runs total: original + 1 retry)
    maxRetries = 1
    

  withName: setup {
    executor = 'slurm'
    queue = 'cpu_short,fn_short,cpu_medium,fn_medium'
    clusterOptions = '--mail-user=email@email.org --mail-type=FAIL --job-name=setup'
    memory = '8GB'
    time = '1h'
    cpus = '1'
  }

  withName: realign_reads {
    executor = 'slurm'
    queue = 'cpu_short,fn_short,cpu_medium,fn_medium'
    clusterOptions = '--mail-user=email@email.org --mail-type=FAIL --job-name=realign'
    memory = { 32.GB * task.attempt }
    time = { 6.h * task.attempt }
    cpus = '16'
  } 

  withName: extract_l1_reads {
    executor = 'slurm'
    queue = 'cpu_short,fn_short,cpu_medium,fn_medium'
    clusterOptions = '--mail-user=email@email.org --mail-type=FAIL --job-name=l1'
    memory = '8GB'
    time = '4h'
    cpus = '1'
  } 

  withName: generate_alignments_and_gofr {
    // This step is prone to fail for certain types of input files due to extensive memory usage.
    // We allow +1 retry here and increase the memory&time allocation with each retry.
    executor = 'slurm'
    queue = 'cpu_short,fn_short,cpu_medium,fn_medium'
    clusterOptions = '--mail-user=email@email.org --mail-type=FAIL --job-name=align'
    cpus = '5'
    array = '16'
    memory = { 32.GB * Math.pow(4.2, task.attempt - 1) }
    time = { 11.hour * task.attempt } 
    maxRetries = 2
  }

  withName: combine_gofr_outputs {
    executor = 'slurm'
    queue = 'cpu_short,fn_short,cpu_medium,fn_medium'
    clusterOptions = '--mail-user=email@email.org --mail-type=FAIL --job-name=combine_gofr'
    memory = '8GB'
    time = '1h'
    cpus = '1'
  }

  withName: run_em {
    executor = 'slurm'
    queue = 'cpu_short,fn_short,cpu_medium,fn_medium'
    clusterOptions = '--mail-user=email@email.org --mail-type=FAIL --job-name=em'
    memory = { 24.GB * task.attempt }
    time = { 8.hour * task.attempt }
    cpus = '5'
  }
  
  withName: finalize_results {
    executor = 'slurm'
    queue = 'cpu_short,fn_short,cpu_medium,fn_medium'
    clusterOptions = '--mail-user=email@email.org --mail-type=FAIL,END --job-name=finalize'
    memory = '8GB'
    time = '1h'
    cpus = '1'
  }

}
